[Desktop Entry]
Name=Folder Color

Encoding=UTF-8
Version=2.0
Icon=colors-chromablue
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;

X-KDE-Submenu=Folder Color
X-KDE-Submenu[es]=Color
X-KDE-Submenu[fr]=Dossier de couleur
X-KDE-Submenu[it]=Colore cartella
X-KDE-Submenu[pt]=Pasta Cor
X-KDE-Submenu[pt_BR]=Cor da pasta
X-KDE-Submenu[de]=Farbe Ordner
X-KDE-Submenu[pl]=Kolor katalogu
X-KDE-Submenu[ru]=Цвет папки
X-KDE-Priority=TopLevel

Actions=custom-icon;random-icon;_SEPARATOR_;default;cyan;blue;green;yellow;orange;red;magenta;violet;brown;grey;black;_SEPARATOR_;documents;download;pictures;music;videos;development;favorites;activities;apple;copy-cloud;desktop;drive;dropbox;games;git;gnome;image-people;important;java;linux;locked;mail;mail-cloud;mega;meocloud;network;owncloud;print;private;public;recent;remote;script;steam;tar;templates;unlocked;vbox;visiting;wifi;wine;yandex-disk

[Desktop Action custom-icon]
Name=Custom icon
Name[es]=Icono personalizado
Name[fr]=Icône personnalisée
Name[it]=Icona personalizzata
Name[pt]=Ícone personalizado
Name[pt_BR]=Ícone personalizado
Name[de]=Custom Icon
Name[pl]=Personalizacja ikon
Name[ru]=Пользовательская иконка
Icon=colors-chromared
Exec=dolphin-folder-color -o %U

[Desktop Action random-icon]
Name=Random
Name[es]=Aleatorio
Name[fr]=aleatória
Name[it]=Icona casuale
Name[pt]=Aleatória
Name[pt_BR]=Aleatória
Name[de]=Zufällig
Name[pl]=Losowy
Name[ru]=Произвольный цвет
Exec=dolphin-folder-color -r %U

#########################################

[Desktop Action default]
Name=Default
Name[es]=Predeterminado
Name[fr]=Défaut
Name[it]=Icona predefinita
Name[pt]=Omissão
Name[pt_BR]=Padrão
Name[de]=Default
Name[pl]=Domyślny
Name[ru]=По умолчанию
Icon=folder-folder
Exec=dolphin-folder-color -c default -s default %U

[Desktop Action blue]
Name=Blue
Name[es]=Azul
Name[fr]=Bleu
Name[it]=Blu
Name[pt]=Azul
Name[pt_BR]=Azul
Name[de]=Blau
Name[pl]=Niebieski
Name[ru]=Синий
Icon=folder-blue
Exec=dolphin-folder-color -c blue %U

[Desktop Action cyan]
Name=Cyan
Name[es]=Cian
Name[fr]=Cyan
Name[it]=Ciano
Name[pt]=Ciano
Name[pt_BR]=Ciano
Name[de]=Cyan
Name[pl]=Cyjan
Name[ru]=Голубой
Icon=folder-cyan
Exec=dolphin-folder-color -c cyan %U

[Desktop Action green]
Name=Green
Name[es]=Verde
Name[fr]=Vert
Name[it]=Verde
Name[pt]=Verde
Name[pt_BR]=Verde
Name[de]=Grün
Name[pl]=Zielony
Name[ru]=Зелёный
Icon=folder-green
Exec=dolphin-folder-color -c green %U

[Desktop Action yellow]
Name=Yellow
Name[es]=Amarillo
Name[fr]=Jaune
Name[it]=Giallo
Name[pt]=Amarelo
Name[pt_BR]=Amarela
Name[de]=Gelb
Name[pl]=Żółty
Name[ru]=Жёлтый
Icon=folder-yellow
Exec=dolphin-folder-color -c yellow %U

[Desktop Action orange]
Name=Orange
Name[es]=Naranja
Name[fr]=Orange
Name[it]=Arancione
Name[pt]=Laranja
Name[pt_BR]=Laranja
Name[de]=Orange
Name[pl]=Pomarańczowy
Name[ru]=Оранжевый
Icon=folder-orange
Exec=dolphin-folder-color -c orange %U

[Desktop Action red]
Name=Red
Name[es]=Rojo
Name[fr]=Rouge
Name[it]=Rosso
Name[pt]=Vermelho
Name[pt_BR]=Vermelha
Name[de]=Rot
Name[pl]=Czerwony
Name[ru]=Красный
Icon=folder-red
Exec=dolphin-folder-color -c red %U

[Desktop Action magenta]
Name=Magenta
Name[es]=Magenta
Name[fr]=Magenta
Name[it]=Magenta
Name[pt]=Magenta
Name[pt_BR]=Magenta
Name[de]=Magenta
Name[pl]=Fuksyna
Name[ru]=Пурпурный
Icon=folder-magenta
Exec=dolphin-folder-color -c magenta %U

[Desktop Action violet]
Name=Violet
Name[es]=Violeta
Name[fr]=Violet
Name[it]=Viola
Name[pt]=Violeta
Name[pt_BR]=Violeta
Name[de]=Violett
Name[pl]=Fioletowy
Name[ru]=Фиолетовый
Icon=folder-violet
Exec=dolphin-folder-color -c violet %U

[Desktop Action brown]
Name=Brown
Name[es]=Marrón
Name[fr]=Brun
Name[it]=Marrone
Name[pt]=Marrom
Name[pt_BR]=Marrom
Name[de]=Braun
Name[pl]=Brązowy
Name[ru]=Коричневый
Icon=folder-brown
Exec=dolphin-folder-color -c brown %U

[Desktop Action grey]
Name=Grey
Name[es]=Gris
Name[fr]=Gris
Name[it]=Grigio
Name[pt]=Cinzento
Name[pt_BR]=Cinza
Name[de]=Grau
Name[pl]=Szary
Name[ru]=Серый
Icon=folder-grey
Exec=dolphin-folder-color -c grey %U

[Desktop Action black]
Name=Black
Name[es]=Negro
Name[fr]=Noir
Name[it]=Nero
Name[pt]=Preto
Name[pt_BR]=Preta
Name[de]=Schwarz
Name[pl]=Czarny
Name[ru]=Чёрный
Icon=folder-black
Exec=dolphin-folder-color -c black %U

#########################################

[Desktop Action documents]
Name=Documents
Name[es]=Documentos
Name[fr]=Documents
Name[it]=Documenti
Name[pt]=Documentos
Name[pt_BR]=Documentos
Name[de]=Unterlagen
Name[pl]=Dokumenty
Name[ru]=Документы
Icon=folder-documents
Exec=dolphin-folder-color -s documents %U

[Desktop Action download]
Name=Downloads
Name[es]=Descargas
Name[fr]=Téléchargements
Name[it]=Download
Name[pt]=Download
Name[pt_BR]=Downloads
Name[de]=Downloads
Name[pl]=Pobrane
Name[ru]=Загрузки
Icon=folder-download
Exec=dolphin-folder-color -s download %U

[Desktop Action pictures]
Name=Image
Name[es]=Imágenes
Name[fr]=Image
Name[it]=Immagine
Name[pt]=Imagem
Name[pt_BR]=Imagens
Name[de]=Bild
Name[pl]=Obrazy
Name[ru]=Изображения
Icon=folder-images
Exec=dolphin-folder-color -s pictures %U

[Desktop Action music]
Name=Sound
Name[es]=Sonido
Name[fr]=Son
Name[it]=Musica
Name[pt]=Parecer
Name[pt_BR]=Áudio
Name[de]=Klingen
Name[pl]=Muzyka
Name[ru]=Музыка
Icon=folder-music
Exec=dolphin-folder-color -s music %U

[Desktop Action videos]
Name=Video
Name[es]=Video
Name[fr]=Vidéo
Name[it]=Video
Name[pt]=Vídeo
Name[pt_BR]=Vídeo
Name[de]=Video
Name[pl]=Wideo
Name[ru]=Видео
Icon=folder-videos
Exec=dolphin-folder-color -s videos %U

[Desktop Action development]
Name=Development
Name[es]=Desarrollo
Name[fr]=Développement
Name[it]=Sviluppo
Name[pt]=Desenvolvimento
Name[pt_BR]=Desenvolvimento
Name[de]=Entwicklung
Name[pl]=Programowanie
Name[ru]=Разработка
Icon=folder-development
Exec=dolphin-folder-color -s development %U

[Desktop Action favorites]
Name=Favorites
Name[es]=Favoritos
Name[fr]=Favoris
Name[it]=Preferiti
Name[pt]=Favoritos
Name[pt_BR]=Favoritos
Name[de]=Favoriten
Name[pl]=Ulubione
Name[ru]=Избранное
Icon=folder-favorites
Exec=dolphin-folder-color -s favorites %U

###################################### ADDED

[Desktop Action activities]
Name=Activities
Name[it]=Attività
Icon=folder-activities
Exec=dolphin-folder-color -s activities %U

[Desktop Action apple]
Name=Apple
Icon=folder-apple
Exec=dolphin-folder-color -s apple %U

[Desktop Action copy-cloud]
Name=CopyCloud
Icon=folder-copy-cloud
Exec=dolphin-folder-color -s copy-cloud %U

[Desktop Action desktop]
Name=Desktop
Icon=folder-desktop
Exec=dolphin-folder-color -s desktop %U

[Desktop Action drive]
Name=Google Drive
Icon=folder-google-drive
Exec=dolphin-folder-color -s google-drive %U

[Desktop Action dropbox]
Name=Dropbox
Icon=folder-dropbox
Exec=dolphin-folder-color -s dropbox %U

[Desktop Action games]
Name=Games
Name[it]=Giochi
Icon=folder-games
Exec=dolphin-folder-color -s games %U

[Desktop Action git]
Name=Git
Icon=folder-git
Exec=dolphin-folder-color -s git %U

[Desktop Action gnome]
Name=Gnome
Icon=folder-gnome
Exec=dolphin-folder-color -s gnome %U

[Desktop Action image-people]
Name=ImagePeople
Icon=folder-image-people
Exec=dolphin-folder-color -s image-people %U

[Desktop Action important]
Name=Important
Name[it]=Importante
Icon=folder-important
Exec=dolphin-folder-color -s important %U

[Desktop Action java]
Name=Java
Icon=folder-java
Exec=dolphin-folder-color -s java %U

[Desktop Action linux]
Name=Linux
Icon=folder-linux
Exec=dolphin-folder-color -s linux %U

[Desktop Action locked]
Name=Locked
Name[it]=Lucchetto bloccato
Icon=folder-locked
Exec=dolphin-folder-color -s locked %U

[Desktop Action mail]
Name=Mail
Icon=folder-mail
Exec=dolphin-folder-color -s mail %U

[Desktop Action mail-cloud]
Name=Mail cloud
Icon=folder-mail-cloud
Exec=dolphin-folder-color -s mail-cloud %U

[Desktop Action mega]
Name=Mega
Icon=folder-mega
Exec=dolphin-folder-color -s mega %U

[Desktop Action meocloud]
Name=Meocloud
Icon=folder-meocloud
Exec=dolphin-folder-color -s meocloud %U

[Desktop Action network]
Name=Network
Name[it]=Rete
Icon=folder-network
Exec=dolphin-folder-color -s network %U

[Desktop Action owncloud]
Name=Owncloud
Icon=folder-owncloud
Exec=dolphin-folder-color -s owncloud %U

[Desktop Action print]
Name=Print
Name[it]=Stampa
Icon=folder-print
Exec=dolphin-folder-color -s print %U

[Desktop Action private]
Name=Private
Name[it]=Privato
Icon=folder-private
Exec=dolphin-folder-color -s private %U

[Desktop Action public]
Name=Public
Name[it]=Pubblico
Icon=folder-public
Exec=dolphin-folder-color -s public %U

[Desktop Action recent]
Name=Recent
Name[it]=Recenti
Icon=folder-recent
Exec=dolphin-folder-color -s recent %U

[Desktop Action remote]
Name=Remote
Name[it]=Remoto
Icon=folder-remote
Exec=dolphin-folder-color -s remote %U

[Desktop Action script]
Name=Script
Icon=folder-script
Exec=dolphin-folder-color -s script %U

[Desktop Action steam]
Name=Steam
Icon=folder-steam
Exec=dolphin-folder-color -s steam %U

[Desktop Action tar]
Name=Tar
Icon=folder-tar
Exec=dolphin-folder-color -s tar %U

[Desktop Action templates]
Name=Templates
Name[it]=Modelli
Icon=folder-templates
Exec=dolphin-folder-color -s templates %U

[Desktop Action unlocked]
Name=Unlocked
Name[it]=Lucchetto sbloccato
Icon=folder-unlocked
Exec=dolphin-folder-color -s unlocked %U

[Desktop Action vbox]
Name=VirtualBox
Icon=folder-vbox
Exec=dolphin-folder-color -s vbox %U

[Desktop Action visiting]
Name=Visiting
Name[it]=In revisione
Icon=folder-visiting
Exec=dolphin-folder-color -s visiting %U

[Desktop Action wifi]
Name=Wifi
Icon=folder-wifi
Exec=dolphin-folder-color -s wifi %U

[Desktop Action wine]
Name=Wine
Icon=folder-wine
Exec=dolphin-folder-color -s wine %U

[Desktop Action yandex-disk]
Name=Yandex.Disk
Icon=folder-yandex-disk
Exec=dolphin-folder-color -s yandex-disk %U
